/* Definir elementos de JS desde el root. En el podemos definir varibales. Normalmente se definen globalmente
desde el root 
Se suelen guardar: 
numeros (los coleres son un hexadecimal), letras, espaciados*/
:root {
    --color-primary: brown;
    --font-primary: Arial, Helvetica, sans-serif;

}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Llamamos a la variable donde la vamos a usar*/
html, body {
    min-height: 100vh;
}

html {
    background-color: white;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-primary);
}

p {
    width: 50ch;
}

/* p{
    flex: 1 0 auto;
    flex-basis: ; Que quiero que tomen como punto de partida
    flex-shrink: ; Cuanto quiero que puedan encoger
    flex-grow: ; Cuanto quiero que puedan crecer
} */